@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#content5-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #110a2e;
  font-size: 48px;
}
#content5-j .mbr-header .mbr-header__subtext {
  text-align: left;
  color: #efefef;
  font-size: 20px;
}
#content5-j .mbr-article {
  color: #fff;
}
#content5-j .mbr-header .mbr-header__text DIV {
  font-size: 48px;
}
#content5-j .mbr-header .mbr-header__subtext B {
  font-size: 32px;
}
#msg-box2-i .mbr-header .mbr-header__text {
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-i .mbr-article {
  color: #000000;
  text-align: center;
  font-size: 24px;
}
#msg-box2-i .mbr-header .mbr-header__text SPAN {
  font-size: 36px;
}
#footer1-7 P {
  color: #f4eaea;
}
#msg-box1-m .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 48px;
}
#msg-box1-m .mbr-article {
  color: #fff;
}
#msg-box3-w .mbr-header .mbr-header__text {
  text-align: center;
  color: #f4eaea;
}
#msg-box3-w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #ffffff;
}
#msg-box3-w .mbr-article {
  color: #ffffff;
}
#msg-box3-w .mbr-article P {
  font-size: 24px;
  text-align: center;
}
#footer1-s P {
  color: #f4eaea;
}
#gallery1-u SMALL {
  text-align: center;
  font-size: 24px;
}
#gallery1-u B {
  font-size: 24px;
}
#gallery1-v SMALL {
  text-align: center;
  font-size: 24px;
}
#gallery1-v B {
  font-size: 24px;
}
#msg-box3-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 46px;
}
#msg-box3-12 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-12 .mbr-article {
  color: #ffffff;
}
#msg-box3-12 .mbr-article P {
  text-align: center;
  font-size: 24px;
}
#footer1-t P {
  color: #f4eaea;
}
#gallery1-z SMALL {
  text-align: center;
  font-size: 24px;
}
#gallery1-z B {
  font-size: 24px;
}
#gallery1-10 SMALL {
  text-align: center;
  font-size: 24px;
}
#gallery1-10 B {
  font-size: 24px;
}
